  /* -------------------------------------- */
 /* ==            SOMMAIRE            == */
/* -------------------------------------- */

/* L013		- GENERAL  -   */
/* L047		- GROUPE   -   */
/* L076		- HEADER   -   */
/* L114		- MAIN     -   */
/* L254		- FOOTER   -   */
/* L338		- TABLETTE -   */
/* L496		- MOBILE   -   */

  /* -------------------------------------- */
 /* ==           GENERAL             == */
/* -------------------------------------- */

body
{
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
}

.fas
{
    color: gray;
}

.bleu
{
    color: #5DADE2;
}

  /* -------------------------------------- */
 /* ==           GROUPE             == */
/* -------------------------------------- */

#un, #trois, #cinq
{
    background-color: #5DADE2;
    margin: 0;
    width: 33%;
}

#deux, #quatre, #six
{
    padding-left: 5%;
    padding-right: 5%;
    width: 55%; 
}

/* (div 3, 4 et 7) Les H2 de la partie gauche */

.bande
{
    margin-top: 10%;
    text-align: center;
    color: #5DADE2;
    background-color: gray;
    padding: 2% 0;
}

/* ---------------------------------------- */
/* ==            HEADER                 */
/*---------------------------------------- */

header
{
    display: flex;
    width: 100%;
}

/* (div 1) */

#un
{
    display: flex;
    padding-top: 6%;
}

/* Photo */

img
{
    height: 250px;
    width: 250px;
    border: 5px solid gray;
    border-radius: 50%;
    margin: auto;
}

/* (div 2) Nom/Prénom H1 + intitulé métier H3 */

h1
{
    font-size: 4em;
    margin-bottom: -30px;
    padding-top: 10%;
}

/* ---------------------------------------- */
/* ==            MAIN                   */
/*---------------------------------------- */

#souligne
{
    border-bottom: 2px solid #5DADE2;
}

/* (main) contient la div 3 et 4 à gauche + div 5 et 6 à droite*/

main
{
    display: flex;
}

/* (div 3) à gauche Contenant le titre (contact) + coordonnées + le titre (bloc à propos de moi) + le texte */

.contact p
{
    margin: 40px 50px;
    font-size: 20px;
}

.moi p
{
    margin: 40px 50px;
    text-align: justify;
    font-size: 20px;
}

/* (div 4 et 6) Les icônes des titres de droite */

.fa-graduation-cap
{
    color: #5DADE2;
    font-size: 3em;
    margin-right: 5%;
}

.fa-briefcase
{
    color: #5DADE2;
    font-size: 3em;
    margin-right: 5%;
}

.fa-pencil-alt
{
    color: #5DADE2;
    font-size: 3em;
    margin-right: 5%;
}

/* (div 4) Partie formation */

.souligne
{
    display: flex;
    align-items: center;
    border-bottom: 4px solid #5DADE2;
    width: 100%;
}

/* (div 4) le conteneur des lignes de 3 colonnes du bloc (formation) et des lignes de 3 colonnes du bloc expériences professionnelles  */

.block
{
    display: flex;
    flex-direction: column;
    margin-top: 6%;
}

/* lignes des 3 blocs 1-rond/rond-cercle 2-date 3-texte (important!! = align-items: baseline; surtout pas de margin) */

.ligne
{
    display: flex;
    align-items: baseline;
    width: 800px;
    margin: 30px 0;
}

/* 1er bloc contenant le cercle */

.puce
{
    flex-basis: 5%;
}

/* 1er rond bleu 1ère ligne (seulement dans le bloc (formation)) */

.rond-cercle
{
    width: 13px;
    height: 13px;
    border: 3px solid #5DADE2;
    border-radius: 50%;
    display: flex;
}

.rond-cercle:before
{
    content: "";
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: #5DADE2;
    margin: auto;
}

/* le rond bleu */

.rond
{
    background-color: #5DADE2;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

/* 2ème bloc contenant les dates */

.date
{
    flex-basis: 25%;
    font-size: 20px;
    font-weight: bold;
}

/* 3ème bloc contenant le texte */

.texte
{
    margin-left: 7%;
    font-size: 20px;
    flex-basis: 60%;
    text-align: justify;
}

/* ---------------------------------------- */
/* ==            FOOTER                 */
/*---------------------------------------- */

footer
{
    display: flex;
    width: 100%;
    height: 400px;
}

/* (div 5) Les 6 icônes du bloc loisirs */

#loiz
{
    margin-top: 25%;
}

.blockicon
{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 15%;
}

/* (div 5) block contenant 3 icônes en largeur */

.troizicon
{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

/* (div 5) block contenant chaque icône + le cercle */

.icon
{
    display: flex;
    width: 80px;
    height: 80px;
    border: 2px solid gray;
    border-radius: 50%; 
}

/* (div 5) les différentes icônes */

.fa-dumbbell
{
    font-size: 50px;
    margin: auto;  
}

.fa-book-reader
{
    font-size: 50px;
    margin: auto;
}

.fa-gamepad
{
    font-size: 50px;
    margin: auto;
}


/* (div 6) recommandations */

#six
{
    padding-bottom: 3%;
}

.line
{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 3% 0 3%;
}

/* ---------------------------------------- */
/* ==           TABLETTE                */
/*--------------------------------------- */

@media all and (max-width: 1024px)
{
    body
    {
        width: auto;
        background-color: #CCCCCC;
    }
    
    .cinq
    {
        width: auto;
    }
    
    #quatre, #six
    {
        width: 90%;
        padding-left: inherit;
    }
    
    header
    {
        width: auto;
    }
    
    #un
    {
        background-color: #CCCCCC;
    }
    
    img
    {
        border: 5px solid #5DADE2;
        width: 150px;
        height: 150px;
        margin-top: 25%;
    }
    
    #deux
    {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    
    main
    {
        margin-top: 10%;
        flex-direction: column;
    }
    
    #trois
    {
        display: flex;
        background-color: #5DADE2;
        margin: auto;
        width: auto;
    }
    
    .contact, .moi
    {
        width: 100%;
    }
    
    .bande
    {
        margin: auto;
        width: auto;
    }
    
    #sizing
    {
        width: auto;
    }
    
    #six
    {
        padding: inherit;
        margin: inherit;
    }
    
    #deux, #quatre, #six
    {
        margin-right: 0;
    }
    
    #quatre
    {
        margin: auto;
    }
    
    .souligne
    {
        margin-left: 5%;
    }
    
    hr
    {
        width: 80%;
        height: 2px;
        background-color: gray;
        margin-left: 13%;
    }
    
    .ligne
    {
        flex-direction: column;
        width: auto;
        margin: 10%;
    }
    
    .puce
    {
        display: none;
    }
    
    
    .date
    {
        padding-left: 5%;
        margin: auto;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }
    
    .texte
    {
        font-size: 30px;
        text-align: center;
    }
    
    footer
    {
        flex-direction: column;
        width: 100%;
        margin-top: 15%;
    }
    
    #loiz
    {
        margin-top: inherit;
    }
    
    .troizicon
    {
        margin-bottom: 15%;
    }
    
    #six
    {
        margin-top: 10%;
        width: auto;
    }
    
    #six .souligne
    {
        width: 90%;
    }
    
    .line
    {
        width: auto;
    }
    
    .fin
    {
        font-size: 25px;
        margin: auto;
    } 
}

/* ---------------------------------------- */
/* ==           MOBILE                  */
/*--------------------------------------- */

@media all and (max-width: 480px)
{
    body
    {
        flex-direction: column;
        width: 100%;
    }
    
    header
    {
        flex-direction: column;
    }
    
    h1
    {
        padding: 0;
        font-size: 30px;
        text-align: center;
        margin-bottom: inherit;
        margin-top: 10%;
    }
    
    h2
    {
        font-size: 25px;
    }
    
    h3
    {
        text-align: center;
        font-size: 20px;
        background-color: #5DADE2;
    }
    
/* (div 2)  */    
    
    #un
    {
        width: auto;
        height: 230px;
    }
    
    img
    {
        margin-top: inherit;
        border: 5px solid #5DADE2;
        width: 200px;
        height: 200px;
    }
    
/* (div 2)  */      
    
    #deux
    {
        display: flex;
        
        width: 100%;
        margin: auto;
        order: -1;
        width: 80%;
        padding: inherit;
    }
    
    #souligne
    {
        border-bottom: none; 
    }
    
/* (div 3)  */      
    
    #trois
    {
        flex-direction: column;
        width: auto;   
    }
    
    #trois h2
    {
        font-size: 20px;
    }
    
    .contact p
    {
        text-align: center;
        font-size: 25px;
    }
    
    .moi p
    {
        font-size: 25px;
    }
    
/* (div 4)  */  
    
    #quatre
    {
        padding: inherit;
        width: auto;
    }
    
    .puce
    {
        display: none;
    }
    
    hr
    {
        width: 80%;
        height: 2px;
        background-color: gray;
        margin: 10%;
    }
    
    #hide
    {
        display: none;
    }
    
    .souligne
    {
        width: 100%;
        margin: auto;
        margin-bottom: 10%;
    }
    
    .block
    {
        width: auto;
        margin-right: inherit;
    }
    
    .ligne
    {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    
    .date
    {
        width: auto;
        font-size: 20px;
        font-weight: bold;
        margin: inherit;
        text-align: center;
        margin: auto;
        border: 2px solid #5DADE2;
    }
    
    .texte
    {
        width: auto;
        font-size: 25px;
        text-align: center;
        margin-left: inherit;
        margin: auto;
    }
    
    #quatre .ligne
    {
        width: 100%;
    }
    
    #quatre h2
    {
        font-size: 30px;
        margin-left: 35px;
    }
    
    #quatre .fas
    {
        font-size: 30px;
        margin-left: 10px;
    }
    
/* (div 5)  */       
    
    #cinq .icon
    {
        width: 50px;
        height: 50px;
    }
    
    #cinq .fas
    {
        font-size: 2em;
    } 
    
 /* (div 6)  */       
    
    #six
    {
        font-size: 10px;
        padding: inherit;
        margin: inherit;
        width: 100%;
    }
    
    #six .fas
    {
        margin-left: 5%;
    }
    
    #six h4
    {
        font-size: 20px;
    }
    
    .line
    {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .fin
    {
        font-size: 20px;
        margin: auto;
    }
    
    h4
    {
        font-size: 25px;
    }
}
